</body>

<footer class="footer" id="footer-section">
  <a href="https://github.com/akshay-git-007" class="footer-icons" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="mailto:akshayakshay5543@gmail.com" class="footer-icons" target="_blank"><i class="fa-solid fa-envelope"></i></a>
  <a href="https://twitter.com/aileni_akshay" class="footer-icons" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  <a href="https://www.instagram.com/akshay_git_007/?hl=en" class="footer-icons" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <p>Made with ❤️ by Akshay</p>
</footer>

<script>
  function myFunction() {
    const elements = document.querySelectorAll(".mode");
    for (const element of elements) {
      element.classList.toggle("dark-mode");
    }

    const hrElements = document.querySelectorAll(".mode2");
    for (const hrElement of hrElements) {
      hrElement.classList.toggle("hr-mode");
    }

    const footers = document.querySelectorAll(".footer");
    for (const footer of footers) {
      footer.classList.toggle("final");
    }

    const spans = document.querySelectorAll(".span");
    for (const span of spans) {
      span.classList.toggle("final2");
    }

    const finalH1s = document.querySelectorAll(".hell");
    for (const h1 of finalH1s) {
      h1.classList.toggle("laast");
      h1.classList.toggle("heading");
    }

    const modes = document.querySelectorAll(".modex");
    for (mode of modes) {
      mode.classList.toggle("modey");
    }

    const lists = document.querySelectorAll(".list");
    for (list of lists) {
      list.classList.toggle("other-list");
    }

    const query = document.querySelectorAll(".query");
    for (q of query) {
      q.classList.toggle("query-mode");
    }

  }
</script>

</html>
