<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes and PDFs</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="images/file-earmark-text-fill.svg">
  <script src="https://kit.fontawesome.com/cd62e0887c.js" crossorigin="anonymous"></script>
</head>

<body class="mode">

  <h1 class="heading mode hell" id="ECE">E<span class="span">C</span>E</h1>
  <h6 class="modex"><sup>toggle b/w modes</sup></h6>
  <label class="switch mode">
    <input type="checkbox" onclick="myFunction()" class="mode">
    <span class="slider round mode second"><img src="images/moon-fill.svg" class="moon-icon" /><img src="images/brightness-high-fill.svg" class="sun-icon" /></span>
  </label>
