<%- include("partials/header") -%>

<h2 class="one-year mode">I Year</h2>
<div class="container mode">
  <div class="row mode">
    <div class="col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 1</h3>
        <a href="https://drive.google.com/drive/folders/1bpJlDC0xJYyl8D-0XLpfwM1sHuWufo3_" target="_blank">
          <li class="mode">Basic Electrical Engineering</li>
        </a>
        <a href="https://drive.google.com/drive/folders/10GJYGsKHcXtC0PmQEXCyKvwLXY7aSp3o" target="_blank">
          <li class="mode">Physics</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1UKyIkoU1LnFx1NwavIAVyrnr2RSyBxRY" target="_blank">
          <li class="mode">Maths</li>
        </a>
        <a href="https://drive.google.com/drive/folders/11wqy1OGhiLK3QS76O2mUEdKdVseQIZlq" target="_blank">
          <li class="mode">Indian Constitution</li>
        </a>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 2</h3>
        <a href="https://drive.google.com/drive/folders/1k2BYI1-drGBKmOwcRbeyEZmUeSBZiMWK" target="_blank">
          <li class="mode">Programming for Problem Solving</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1GHPF6HYSljBCE208swVuCqbn6_N9nupQ" target="_blank">
          <li class="mode">Chemistry</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1zrKUAAaTLCNbGXbjiHw-yMJTsuKNqHbC" target="_blank">
          <li class="mode">Maths</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1IDmUSx7HsRkuH4lM-XOBLkhzSJhmAuJh" target="_blank">
          <li class="mode">English</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1pnTvMFaAYd_nP3rlbitsBFy42eX1PvWE" target="_blank">
          <li class="mode">Environmental Science</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1ZvvINEwQ1jm-GB99MPXSfC34of1FnJeW" target="_blank">
          <li class="mode">Essence of Indian Traditional Knowledge</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="divHr">
  <hr size="0.01" class="mode2">
</div>

<h2 class="two-year mode">II Year</h2>
<div class="container mode">
  <div class="row mode">
    <div class="col col-lg-6 col-sm-12 mode">
      <ul class="list">
        <h3 class="mode">Semester 3</h3>
        <a href="https://drive.google.com/drive/folders/1f2TL9je-X_ROTFv5DrO72qPWC822JJCa" target="_blank">
          <li class="mode">Probability Theory and Stochastic Process</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1V29VbwbaFR9p6zUQulG2T5vawWFe3Sqm" target="_blank">
          <li class="mode">Digital Electronics</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1lrT1wZhQlsCSeiFnAv9b2isiazCxkO-Z" target="_blank">
          <li class="mode">Electronic Devices and Circuits</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1UwSwYSbQeTP4dnhtmWWOcRAA8bTQhJvf" target="_blank">
          <li class="mode">Network Theory</li>
        </a>
        <a href="https://drive.google.com/drive/folders/1EQP25XUHcbqMdJkor1Dj4PPjYRDp2WPj" target="_blank">
          <li class="mode">Effective Technical Communication</li>
        </a>
        <a href="https://drive.google.com/drive/folders/119WnaonKk-LMI6SchnHyaTzek4GF7gTP" target="_blank">
          <li class="mode">Finance & Accounting</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="divHr">
  <hr size="0.01" class="mode2">
</div>

<div class="query-section footer">

  <a href="query" class="query">
    <h2 class="query">Any Queries!?</h2>
  </a>

</div>


<h3 class="mode patience-text">PATIENCE!</h3>
<h1 class="mode"><i class="fa-solid fa-virus fa-spin virus-img"></i></h1>
<h5 class="patience-text mode">Good things take time.</h5>



<%- include("partials/footer") -%>
